doctype html
html(lang="en")
	head
	body
		h1 New Form
		form(action="/api/new-post" method="POST")
			div
				label URL: 
				input(type="text", name="url")
			div
				label TITLE: 
				input(type="text", name="title")
			input(type="submit")