doctype html
html(lang="en")
	head
	body
		h1 Register
		form(action="/api/register" method="POST" novalidate)
			div
				label EMAIL: 
				input(type="email", name="email")
			div
				label USERNAME: 
				input(type="email", name="username")
			div
				label PASSWORD: 
				input(type="password", name="password")
			div
				label CONFIRM PASSWORD: 
				input(type="password", name="confirmpassword")
			input(type="submit")