extends layout

block content

	- posts.forEach(function(post){
		div
			a(href="#{post.url}" target="_blank")= post.title
			form(action="/api/post/vote" method="POST")
				input(type="hidden" name="id" value="#{post.id}")
				input(type="hidden" name="vote" value="up")
				input(type="submit" value="up")
			form(action="/api/post/vote" method="POST")
				input(type="hidden" name="id" value="#{post.id}")
				input(type="hidden" name="vote" value="down")
				input(type="submit" value="down")
		hr
	- });