doctype html
html(lang="en")
	head
	body
		h1 Login
		if( flash !== null )
			p= flash
		form(action="/api/user/login" method="POST" novalidate)
			div
				label EMAIL: 
				input(type="email", name="email")
			div Or...
			div
				label USERNAME: 
				input(type="email", name="username")
			div
				label PASSWORD: 
				input(type="password", name="password")
			input(type="submit")